* {
    box-sizing: border-box;
}

.left-side {
    max-width: 20vw;
    height: 100vh;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.right-side {
    max-width: 80vw;
    height: 100vh;
    margin-left: 50px;
}